[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = java programs
[access "refs/*"]
	owner = group user/santoshhpgs
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/santoshhpgs
	label-Verified = -1..+1 group user/santoshhpgs
	push = group user/santoshhpgs
	read = group user/santoshhpgs
	rebase = group user/santoshhpgs
	removeReviewer = group user/santoshhpgs
	submit = group user/santoshhpgs
[access "refs/heads/*"]
	create = group user/santoshhpgs
	push = +force group user/santoshhpgs
	pushMerge = group user/santoshhpgs
	read = group user/santoshhpgs
[access "refs/tags/*"]
	push = group user/santoshhpgs
	push = +force group user/santoshhpgs
